@use '../../../styles/abstracts/variables' as v;
@use '../../../styles/abstracts/mixins' as m;
.section {
  @include m.section;
  background: v.$color-background-secondary;
}
.grid {
  display: grid;
  gap: 1rem;
  @include m.from(v.$breakpoint-tablet) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @include m.from(v.$breakpoint-desktop) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
